{% extends 'base.html' %}

{% load static %}

{% block head_title %}About - Resume Hub{% endblock %}

{% block content_main %}
    <h2 style="text-align: center;">
        About
    </h2>
    <hr style="border-top: 1px solid #cccccc;">

    <br>

    <h5>Hello, My name is Behnam Shahmardi.</h5>
    <h5>I'm student of Software Engineering at University of Qom.</h5>
    <h5>This website is final project of Internet Engineering course.</h5>
    <h5>and the teacher of course is Professor Habiballah Khosravi.</h5>
    <h5>I hope You like it!</h5>
    
{% endblock %}
