{% extends 'base.html' %}

{% block head_title %}Change Password - Resume Hub{% endblock %}

{% block content_main %}
<h2 style="text-align: center;">
    Change Password
</h2>
<hr style="border-top: 1px solid #cccccc;">
{% if password_changed %}
    <h4>Your Password Successfully Changed!</h4>
{% else %}
    <form action="{% url 'hub:change_password' %}" method="POST">
        {% csrf_token %}
        {{ change_password_form.as_p }}
        <br>
        <input type="submit" name="change_password_form" value="Change Password" style="margin-left: 30px;">
    </form>
{% endif %}

{% endblock %}
